body {
    color: white;
    font-size: 2em;
    font-style: bold;
    font-family: Helvetica;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns:
        50px 200px 1fr 50px;
        grid-auto-rows: minmax(50px, auto);
    grid-template-areas: 
    ". title title ."
    ". header header ."
    ". sidebar content ."
    ". sidebar content2 ."
    ". sidebar content2 ."
    ". sidebar content2 ."
    ". sidebar content2 ."
    ". footer footer .";
    grid-gap: 10px;
}
.title {
    grid-area: title;

    background-color: green;
}
.header {
    grid-area: header;
    background-color: red;
}
.sidebar {
    grid-area: sidebar;
    background-color: purple;
}
.content {
    grid-area: content;
    background-color: #11b4eb;
    height: 200px;
}

.content2{
    grid-area: content2;
    background-color: #6100b1;
}
.footer {
    grid-area: footer;
    background-color: #b68601;
}
@media screen and (max-width: 736px) {
    .container {
        display: grid;
        grid-template-columns: 10px 1fr 10px;
        grid-template-areas: 
        ". title ."
        ". header ."
        ". footer ."
        ". sidebar ."
        ". content ."
        ". content2 .";
        grid-gap: 10px;
    }
}